version: '3.8'

services:
  # Base de datos PostgreSQL
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    # Añadimos un healthcheck para que el backend sepa cuándo la DB está lista de verdad
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U liteuser -d litedb"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Backend Django (Con Poetry)
  backend:
    
    build: 
      context: .
      dockerfile: backend/Dockerfile
    # Nota: No necesitamos 'poetry run' aquí porque configuramos el Dockerfile
    # para instalar las librerías en el sistema global.
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app/backend
      - ./dominio:/app/dominio
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy  # Espera a que el healthcheck de la DB pase
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      # Nota: Idealmente esta key debería ir en un archivo .env, pero aquí funciona.
      - GEMINI_API_KEY=${GEMINI_API_KEY}

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  postgres_data: